build/
firmware/
espfs/mkespfsimage/*.o
espfs/mkespfsimage/mkespfsimage
webpages.espfs
espfs/espfstest/*.o
espfs/espfstest/espfstest
*.DS_Store
html_compressed/
esp-link.tgz
tve-patch/
yui
tools/*compressor*.jar
.gitignore

# ignore IDE specific files
java/.metadata/
java/EMSSyslog/.*
java/RemoteSystemsTempFiles/.*

# ignore local config file
local.conf
